@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body, html {
  height: 100vh;
  margin: 0;
  font-family: 'Poiret One', cursive;
  color:  #000
}

* {
  box-sizing: border-box;
}

.wrapper-image {
  background: url("/logo.75891cef.png") center no-repeat;
  background-size: cover;
  filter: blur(18px);
  -webkit-filter: blur(18px);
  height: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
    /* margin-top: 30px; */
  background-color: #F9F9FB;
  background-color: rgba(249, 249, 251, 1);
  font-weight: bold;
  border: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 14px rgba(0, 0, 0, .4);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.qr-code, .info {
  flex-basis: 250px;
  flex-grow: 1.5;
}

.qr-code  {
  flex-basis: 200px;
  flex-grow: .5;
}

.qr-code img {
    max-width: 200px;
    width: 80%;
}

.text-center {
    text-align: center !important;
}
input {
    display: none;
}
label {
    cursor: pointer;
}
.drag-and-drop {
    height: 150px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(62, 87, 113, 0.2);
    outline: 2px dashed #999;
    outline-offset: -10px;
}
.drag-and-drop:hover, .drag-and-drop.highlight {
    outline: 2px dashed #777;
    background: #fff;
    outline-offset: -20px;
}
.drag-and-drop:hover,
.drag-and-drop.dragging,
.drag-and-drop.uploading {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.drag-and-drop.highlight {
    background: rgba(249, 164, 156, 0.2);
}

.file {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin: 10px auto;
    height: 40px;
    width: 81%;
    padding: 5px 0px;
}
.file .icon {
    width: 30px;
    height: 30px;
}

.file .description {
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 5px;
}
.file .description .progress {
    background:#000;
    width: 0px;
    padding: 2px;
    border-radius: 12px; 
}
 .progress-container {
    background:#ccc;
    width: 100%;
    padding: 1px;
    border-radius: 12px;
}
.file .close {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.file .close img {
    width: 15px;
    height: 15px;
}

.error {
    color: #F75648
}
.clear {
    padding: 20px;
    height: 10px;
}

.poweredby {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 100;
    padding: 10px;
    min-width: 30px;
    min-height: 30px;
    background: #17202A;
    color: #fff;
    transition: width 2s;
}
.poweredby:hover span {
    display: none;
}
.poweredby a {
    display: none;
}

.poweredby:hover a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: #fff;
}